<div style="height: 5px" class="mb-5" [style.visibility]="!editMode ? 'visible' : 'hidden'">
    <button pButton type="button" 
      (click)="locationForm.enable() ; editMode = true" 
      label="Edit" 
      class="float-right" 
      icon="pi pi-pencil">
    </button>
  </div>
  
  <div>
    
    <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="mb-3">
          <label for="name">Location Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>

        <div class="mb-3">
          <label for="latitude">Latitude</label>
          <input type="number" class="form-control" id="latitude" formControlName="latitude">
          <div class="text-danger mt-2" *ngIf="latitudeError()">
            {{locationForm.get('latitude').errors.latitude}}
          </div>
        </div>
        
        <div class="mb-3">
          <label for="longtitue">Longtitue</label>
          <input type="number" class="form-control" id="longtitue" formControlName="longtitue">
          <div class="text-danger mt-2" *ngIf="longtitueError()">
            {{locationForm.get('longtitue').errors.longtitue}}
          </div>
        </div>
        
        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" formControlName="address">
        </div>
        
        <div>
          <label style="display: block;" for="category">Category</label>
          <p-dropdown [options]="categoriesList" formControlName="category"></p-dropdown>
        </div>

      </div>
      
      <div class="mt-3" *ngIf="editMode">
        <button pButton type="submit" label="Save" [disabled]="!locationForm.valid" class="ui-button-raised" icon="pi pi-save"></button>
        <button (click)="cancel()" pButton class="ml-1 ui-button-raised ui-button-secondary"
        type="button" label="Cancel"></button>
      </div>

      <div class="text-danger mt-2" *ngIf="requiredError()">
        All field are required
      </div>
    </form>
    
  </div>